<a href="https://colab.research.google.com/github/anaramos3808/nuevo-repositorio/blob/main/V2_Accidentes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Cargar el archivo Excel y explorar sus hojas disponibles
archivo = "09_05_01_Accidentes-de-transito-hechos-victimas-y-lesionados-y-hechos-por-zona-de-ocurrencia.xlsx"
xls = pd.ExcelFile(archivo)
print(xls.sheet_names)  # Ver nombres de las hojas disponibles

# Cargar la hoja principal
df = pd.read_excel(xls, sheet_name="total provincial")
df.head(15)  # Ver las primeras filas

['Índice', 'total provincial', 'Ushuaia', 'Río Grande', 'Tolhuin', 'Ficha Tecnica']

,"Accidentes de tránsito, hechos, víctimas y lesionados y hechos por zona de ocurrencia. Provincia de Tierra del Fuego AeIAS. Años 2009-mayo 2023",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Año,Mes,Accidentes de tránsito,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Total,NaN,Hechos simples,mortal,NaN,NaN,con lesiones,NaN,NaN,Hechos por zona de ocurrencia,NaN,NaN,volver al índice
3,NaN,NaN,NaN,NaN,NaN,Hechos,Víctimas,NaN,Hechos,Lesionados,NaN,Urbano,Rural,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2009,Total,4753,NaN,4593,9,10,NaN,151,220,NaN,4586,167,NaN,NaN
6,NaN,ene,304,NaN,301,-,-,NaN,3,3,NaN,292,12,NaN,NaN
7,NaN,feb,275,NaN,264,-,-,NaN,11,11,NaN,257,18,NaN,NaN
8,NaN,mar,428,NaN,409,2,2,NaN,17,18,NaN,411,17,NaN,NaN
9,NaN,abr,377,NaN,361,1,1,NaN,15,13,NaN,366,11,NaN,NaN
10,NaN,may,442,NaN,426,1,1,NaN,15,26,NaN,421,21,NaN,NaN
11,NaN,jun,454,NaN,441,1,1,NaN,12,17,NaN,440,14,NaN,NaN
12,NaN,jul,465,NaN,457,-,-,NaN,8,22,NaN,449,16,NaN,NaN
13,NaN,ago,461,NaN,453,2,2,NaN,6,11,NaN,453,8,NaN,NaN
14,NaN,sep,404,NaN,386,1,1,NaN,17,23,NaN,390,14,NaN,NaN

In [3]:
# Eliminar las primeras 5 filas
df = df.iloc[5:]

df.head(15)  # Ver las primeras filas (ahora sin las 5 primeras originales)

,"Accidentes de tránsito, hechos, víctimas y lesionados y hechos por zona de ocurrencia. Provincia de Tierra del Fuego AeIAS. Años 2009-mayo 2023",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
5,2009,Total,4753,NaN,4593,9,10,NaN,151,220,NaN,4586,167,NaN,NaN
6,NaN,ene,304,NaN,301,-,-,NaN,3,3,NaN,292,12,NaN,NaN
7,NaN,feb,275,NaN,264,-,-,NaN,11,11,NaN,257,18,NaN,NaN
8,NaN,mar,428,NaN,409,2,2,NaN,17,18,NaN,411,17,NaN,NaN
9,NaN,abr,377,NaN,361,1,1,NaN,15,13,NaN,366,11,NaN,NaN
10,NaN,may,442,NaN,426,1,1,NaN,15,26,NaN,421,21,NaN,NaN
11,NaN,jun,454,NaN,441,1,1,NaN,12,17,NaN,440,14,NaN,NaN
12,NaN,jul,465,NaN,457,-,-,NaN,8,22,NaN,449,16,NaN,NaN
13,NaN,ago,461,NaN,453,2,2,NaN,6,11,NaN,453,8,NaN,NaN
14,NaN,sep,404,NaN,386,1,1,NaN,17,23,NaN,390,14,NaN,NaN
15,NaN,oct,341,NaN,329,-,-,NaN,12,16,NaN,329,12,NaN,NaN
16,NaN,nov,411,NaN,394,-,-,NaN,17,28,NaN,401,10,NaN,NaN
17,NaN,dic,391,NaN,372,1,2,NaN,18,31,NaN,377,14,NaN,NaN
18,2010,Total,5793,NaN,5541,10,16,NaN,242,398,NaN,5571,222,NaN,NaN
19,NaN,ene,288,NaN,276,1,1,NaN,11,36,NaN,267,21,NaN,NaN

In [4]:
# prompt: ver ultimas 10 filas

df.tail(10)

,"Accidentes de tránsito, hechos, víctimas y lesionados y hechos por zona de ocurrencia. Provincia de Tierra del Fuego AeIAS. Años 2009-mayo 2023",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
194,NaN,jul,129,NaN,96,-,-,NaN,33,54,NaN,99,30,NaN,NaN
195,NaN,ago,108,NaN,81,1,1,NaN,26,37,NaN,99,9,NaN,NaN
196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,- Cero absoluto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,"(1) Hay un hecho de la ciudad de Tolhuin, sin ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,(2) Hay tres hechos de la ciudad de Río Grande...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,Nota: el total provincial incluye las localida...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,Fuente: Instituto Provincial de Análisis e Inv...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Eliminar las últimas 8 filas
df = df.iloc[:-8]

df.tail(10)

,"Accidentes de tránsito, hechos, víctimas y lesionados y hechos por zona de ocurrencia. Provincia de Tierra del Fuego AeIAS. Años 2009-mayo 2023",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
186,NaN,dic,95,NaN,70,-,-,NaN,25,33,NaN,92,3,NaN,NaN
187,2023,Total,798,0.0,584,4,4,0.0,210,310,0.0,725,73,NaN,NaN
188,NaN,ene,63,NaN,44,3,3,NaN,16,26,NaN,56,7,NaN,NaN
189,NaN,feb,60,NaN,47,-,-,NaN,13,20,NaN,58,2,NaN,NaN
190,NaN,mar,101,NaN,75,-,-,NaN,26,27,NaN,96,5,NaN,NaN
191,NaN,abr,111,NaN,74,-,-,NaN,37,43,NaN,104,7,NaN,NaN
192,NaN,may,104,NaN,74,-,-,NaN,30,48,NaN,97,7,NaN,NaN
193,NaN,jun,122,NaN,92,-,-,NaN,30,55,NaN,116,6,NaN,NaN
194,NaN,jul,129,NaN,96,-,-,NaN,33,54,NaN,99,30,NaN,NaN
195,NaN,ago,108,NaN,81,1,1,NaN,26,37,NaN,99,9,NaN,NaN

In [6]:
# prompt: eliminar columnas completamente vacias

df = df.dropna(axis=1, how='all')

In [7]:
#ver el df después de eliminar columnas vacías

df.head()

,"Accidentes de tránsito, hechos, víctimas y lesionados y hechos por zona de ocurrencia. Provincia de Tierra del Fuego AeIAS. Años 2009-mayo 2023",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
5,2009,Total,4753,NaN,4593,9,10,NaN,151,220,NaN,4586,167
6,NaN,ene,304,NaN,301,-,-,NaN,3,3,NaN,292,12
7,NaN,feb,275,NaN,264,-,-,NaN,11,11,NaN,257,18
8,NaN,mar,428,NaN,409,2,2,NaN,17,18,NaN,411,17
9,NaN,abr,377,NaN,361,1,1,NaN,15,13,NaN,366,11

In [8]:
# Eliminar columnas completamente vacías
df = df.dropna(axis=1, how='all')

# Mostrar las primeras filas del DataFrame resultante
df.head()

,"Accidentes de tránsito, hechos, víctimas y lesionados y hechos por zona de ocurrencia. Provincia de Tierra del Fuego AeIAS. Años 2009-mayo 2023",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
5,2009,Total,4753,NaN,4593,9,10,NaN,151,220,NaN,4586,167
6,NaN,ene,304,NaN,301,-,-,NaN,3,3,NaN,292,12
7,NaN,feb,275,NaN,264,-,-,NaN,11,11,NaN,257,18
8,NaN,mar,428,NaN,409,2,2,NaN,17,18,NaN,411,17
9,NaN,abr,377,NaN,361,1,1,NaN,15,13,NaN,366,11

In [9]:
# prompt: cantidad de columnas

# Obtener la cantidad de columnas
num_columnas = len(df.columns)
print(f"La cantidad de columnas en el DataFrame es: {num_columnas}")

La cantidad de columnas en el DataFrame es: 13

In [10]:
# Eliminar columnas 4, 8 y 11 (ajustando a índices de Python que empiezan en 0)
columnas_a_eliminar = [3, 7, 10]  # Índices de columnas a eliminar (Python empieza en 0)
df = df.drop(df.columns[columnas_a_eliminar], axis=1)

# Mostrar las primeras filas del DataFrame resultante después de eliminar las columnas
df.head()

,"Accidentes de tránsito, hechos, víctimas y lesionados y hechos por zona de ocurrencia. Provincia de Tierra del Fuego AeIAS. Años 2009-mayo 2023",Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 8,Unnamed: 9,Unnamed: 11,Unnamed: 12
5,2009,Total,4753,4593,9,10,151,220,4586,167
6,NaN,ene,304,301,-,-,3,3,292,12
7,NaN,feb,275,264,-,-,11,11,257,18
8,NaN,mar,428,409,2,2,17,18,411,17
9,NaN,abr,377,361,1,1,15,13,366,11

In [11]:

# Mostrar las primeras filas del DataFrame resultante después de eliminar las columnas
df.head(15)

,"Accidentes de tránsito, hechos, víctimas y lesionados y hechos por zona de ocurrencia. Provincia de Tierra del Fuego AeIAS. Años 2009-mayo 2023",Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 8,Unnamed: 9,Unnamed: 11,Unnamed: 12
5,2009,Total,4753,4593,9,10,151,220,4586,167
6,NaN,ene,304,301,-,-,3,3,292,12
7,NaN,feb,275,264,-,-,11,11,257,18
8,NaN,mar,428,409,2,2,17,18,411,17
9,NaN,abr,377,361,1,1,15,13,366,11
10,NaN,may,442,426,1,1,15,26,421,21
11,NaN,jun,454,441,1,1,12,17,440,14
12,NaN,jul,465,457,-,-,8,22,449,16
13,NaN,ago,461,453,2,2,6,11,453,8
14,NaN,sep,404,386,1,1,17,23,390,14
15,NaN,oct,341,329,-,-,12,16,329,12
16,NaN,nov,411,394,-,-,17,28,401,10
17,NaN,dic,391,372,1,2,18,31,377,14
18,2010,Total,5793,5541,10,16,242,398,5571,222
19,NaN,ene,288,276,1,1,11,36,267,21

In [12]:
# prompt: cantidad de columnas

# Obtener la cantidad de columnas
num_columnas = len(df.columns)
print(f"La cantidad de columnas en el DataFrame es: {num_columnas}")

La cantidad de columnas en el DataFrame es: 10

In [13]:

# Cambiar el nombre de las columnas
nuevas_columnas = ["Año", "Mes", "Total_Accidentes", "Hechos_Simples", "Hechos_Mortales",  "Victimas", "Hechos_Con_Lesiones", "Lesionados",  "Zona_Urbana", "Zona_Rural"]
df.columns = nuevas_columnas[:len(df.columns)] #Asegura que coincida la longitud

# Mostrar las primeras filas del DataFrame resultante con los nuevos nombres de columna
df.head(15)

,Año,Mes,Total_Accidentes,Hechos_Simples,Hechos_Mortales,Victimas,Hechos_Con_Lesiones,Lesionados,Zona_Urbana,Zona_Rural
5,2009,Total,4753,4593,9,10,151,220,4586,167
6,NaN,ene,304,301,-,-,3,3,292,12
7,NaN,feb,275,264,-,-,11,11,257,18
8,NaN,mar,428,409,2,2,17,18,411,17
9,NaN,abr,377,361,1,1,15,13,366,11
10,NaN,may,442,426,1,1,15,26,421,21
11,NaN,jun,454,441,1,1,12,17,440,14
12,NaN,jul,465,457,-,-,8,22,449,16
13,NaN,ago,461,453,2,2,6,11,453,8
14,NaN,sep,404,386,1,1,17,23,390,14
15,NaN,oct,341,329,-,-,12,16,329,12
16,NaN,nov,411,394,-,-,17,28,401,10
17,NaN,dic,391,372,1,2,18,31,377,14
18,2010,Total,5793,5541,10,16,242,398,5571,222
19,NaN,ene,288,276,1,1,11,36,267,21

In [15]:
# prompt: Reemplazar todos los valores NaN en la columna "Año" con el valor no nulo más reciente que se encuentra arriba en la misma columna

# Reemplazar valores NaN en la columna "Año" con el valor no nulo más reciente
df['Año'] = df['Año'].fillna(method='ffill')

# Mostrar las primeras filas del DataFrame resultante
df.head(15)

<ipython-input-15-a4d6593de986>:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Año'] = df['Año'].fillna(method='ffill')

,Año,Mes,Total_Accidentes,Hechos_Simples,Hechos_Mortales,Victimas,Hechos_Con_Lesiones,Lesionados,Zona_Urbana,Zona_Rural
5,2009,Total,4753,4593,9,10,151,220,4586,167
6,2009,ene,304,301,-,-,3,3,292,12
7,2009,feb,275,264,-,-,11,11,257,18
8,2009,mar,428,409,2,2,17,18,411,17
9,2009,abr,377,361,1,1,15,13,366,11
10,2009,may,442,426,1,1,15,26,421,21
11,2009,jun,454,441,1,1,12,17,440,14
12,2009,jul,465,457,-,-,8,22,449,16
13,2009,ago,461,453,2,2,6,11,453,8
14,2009,sep,404,386,1,1,17,23,390,14
15,2009,oct,341,329,-,-,12,16,329,12
16,2009,nov,411,394,-,-,17,28,401,10
17,2009,dic,391,372,1,2,18,31,377,14
18,2010,Total,5793,5541,10,16,242,398,5571,222
19,2010,ene,288,276,1,1,11,36,267,21

In [18]:
# prompt: metricas de las columnas

# Mostrar información estadística de las columnas numéricas
print(df.describe())

# Mostrar el tipo de dato de cada columna
print(df.dtypes)

               Año
count   191.000000
mean   2015.853403
std       4.254963
min    2009.000000
25%    2012.000000
50%    2016.000000
75%    2019.500000
max    2023.000000
Año                     int64
Mes                    object
Total_Accidentes       object
Hechos_Simples         object
Hechos_Mortales        object
Victimas               object
Hechos_Con_Lesiones    object
Lesionados             object
Zona_Urbana            object
Zona_Rural             object
dtype: object

In [19]:
# prompt: convertir las columnas 3 a 10 a datos de tipo numero entero

# Convertir las columnas 3 a 10 a tipo entero (índices de Python)
for i in range(2, 9):  # Rango de columnas 3 a 9 (inclusive)
    try:
        df.iloc[:, i] = pd.to_numeric(df.iloc[:, i], errors='coerce').astype('Int64')
    except KeyError:
        print(f"La columna {i} no existe en el DataFrame.")

# Mostrar el tipo de dato de cada columna después de la conversión
df.dtypes

Año                     int64
Mes                    object
Total_Accidentes       object
Hechos_Simples         object
Hechos_Mortales        object
Victimas               object
Hechos_Con_Lesiones    object
Lesionados             object
Zona_Urbana            object
Zona_Rural             object
dtype: object

In [21]:
# prompt: convertir columnas Total_Accidentes,Hechos_Simples,Hechos_Mortales,Victimas,Hechos_Con_Lesiones,Lesionados,Zona_Urbana,Zona_Rural a numero entero

# Convertir las columnas especificadas a tipo entero
columnas_a_convertir = ["Total_Accidentes", "Hechos_Simples", "Hechos_Mortales", "Victimas", "Hechos_Con_Lesiones", "Lesionados", "Zona_Urbana", "Zona_Rural"]
for columna in columnas_a_convertir:
    try:
        df[columna] = pd.to_numeric(df[columna], errors='coerce').astype('Int64')
    except KeyError:
        print(f"La columna '{columna}' no existe en el DataFrame.")

# Mostrar el tipo de dato de cada columna después de la conversión
df.dtypes

Año                     int64
Mes                    object
Total_Accidentes        Int64
Hechos_Simples          Int64
Hechos_Mortales         Int64
Victimas                Int64
Hechos_Con_Lesiones     Int64
Lesionados              Int64
Zona_Urbana             Int64
Zona_Rural              Int64
dtype: object

In [22]:
# prompt: mostrar medidas estadisticas de las columnas que ya fueron convertidas a numero entero

# Mostrar medidas estadísticas de las columnas convertidas a entero
columnas_enteras = ["Total_Accidentes", "Hechos_Simples", "Hechos_Mortales", "Victimas", "Hechos_Con_Lesiones", "Lesionados", "Zona_Urbana", "Zona_Rural"]
print(df[columnas_enteras].describe())

       Total_Accidentes  Hechos_Simples  Hechos_Mortales  Victimas  \
count             191.0           191.0             94.0      91.0
mean         445.801047      393.020942         2.531915  2.978022
std          906.324023      847.425637         2.646573  3.296389
min                18.0            13.0              1.0       1.0
25%               111.5            79.5              1.0       1.0
50%               191.0           157.0              1.0       2.0
75%               433.5           408.5              2.0       3.0
max              6516.0          6189.0             11.0      17.0

       Hechos_Con_Lesiones  Lesionados  Zona_Urbana  Zona_Rural
count                191.0       191.0        191.0       191.0
mean              51.52356   81.623037   427.298429   18.471204
std              85.017015  139.159826   875.469372   33.049691
min                    3.0         3.0         17.0         1.0
25%                   21.0        31.0        103.0         6.0
50%                   29.0        44.0        182.0         9.0
75%                   37.0        57.5        416.0        14.0
max                  456.0       890.0       6302.0       222.0